#game-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: #F1D67F;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

#board {
    margin: 0;
    padding: 0;
    background: #F1D67F;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.row {
    height: 10vh;
    width: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cell {
    height: 10vh;
    width: 10vh;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 70px;
}

.ball {
    background: url('../images/ball.svg') center;
    background-size: 70% 70%;
    background-repeat: no-repeat;
}

.gap {
    background: #D8BF7D;
    border: 5px solid #F1D67F;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}